* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#circle {
  background: lightblue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
